{#
/**
 * @file
 * Kiso's theme override of a datetime form element.
 *
 * You will find same variables as in the core 'datetime-form.html.twig' template.
 *
 * @see template_preprocess_datetime_form()
 */
#}
<div{{ attributes.addClass('container-inline') }}>
  {{ content }}
</div>
