{#
/**
 * @file
 * Kiso's theme override for a 'form' element.
 *
 * You will find same variables as in the core 'form.html.twig' template.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes.addClass('form') }}>
  {{ children }}
</form>
