{#
/**
 * @file
 * Kiso's theme override for a 'radios' #type form element.
 *
 * You will find same variables as in the core 'radios.html.twig' template.
 *
 * @see template_preprocess_radios()
 */
#}
<div{{ attributes.addClass('form-radios') }}>{{ children }}</div>
