{#
/**
 * @file
 * Kiso's theme override for a 'textarea' #type form element.
 *
 * You will find same variables as in the core 'textarea.html.twig' template.
 *
 * @see template_preprocess_textarea()
 */
#}
{%
  set classes = [
    'form-textarea',
    resizable ? 'form-textarea--resize-' ~ resizable,
    required ? 'required',
  ]
%}
<div{{ wrapper_attributes.addClass('form-textarea__wrapper') }}>
  <textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
</div>
