{#
/**
 * @file
 * Kiso's theme override to display a single views grouping.
 *
 * You will find same variables as in the core 'views-view-grouping.html.twig' template.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}
<div class="view-grouping">
  <div class="view-grouping__header">{{ title }}</div>
  <div class="view-grouping__content">{{ content }}</div>
</div>
