
//
// @file
// SASS - Sass Framework - Full import stack.
//
// To make it easier to use all variables, mixins and placeholders provided by
// the Sass Framework from any SASS document, this file is in charge of the
// importing of all configuration needed partials for your custom theme.

// =============================================================================
// Functions
// =============================================================================

@import
  'functions/helpers',
  'functions/layout';

// =============================================================================
// General variable structure
// =============================================================================

@import
  'variables/options',
  'variables/colors',
  'variables/base',
  'variables/layout',
  'variables/components';

// =============================================================================
// Mixins
// =============================================================================

@import
  'mixins/typography',
  'mixins/helpers',
  'mixins/layout',
  'mixins/library';

// =============================================================================
// Placeholders
// =============================================================================

@import
  'placeholders/helpers',
  'placeholders/layout';
