
//
// @file
// Styles for the "External" (New Window) links.
//

// Import Sass variables, functions, mixins and placeholders.
@import '../../config/imports';

// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//
// This file is compiled separately so we can pull in config dependencies
// above while also maintaining Drupal's SMACSS structure.

// SVG images
//
svg {

  // SVG images (Ext/Internal & Email links)
  //
  &.ext, &.int, &.mailto {
    @include rem('width', 1em);
    @include rem('height', 1em);
    @include rem('vertical-align', 0.125em);
    @include rem('margin-left', map-get($component-margins, 'xsmall'));
    display: inline-block;
    font-size: inherit;
    fill: grayscale('700');

    // Hide them when printing.
    //
    @media print {
      display: none !important;
    }

    // SVG images (Ext/Internal & Email links) / Sizing scale (Smaller)
    //
    &--smaller {
      @include rem('font-size', 0.7em);
    }
  }
}

// Font Awesome icons
//
.fa {

  // Font Awesome icons (Ext/Internal & Email links)
  //
  &-ext, &-int, &-mailto {
    @include rem('margin-left', map-get($component-margins, 'xsmall'));
    font-size: 0.7em;
    vertical-align: 0.3em;

    // Hide them when printing.
    //
    @media print {
      display: none !important;
    }
  }
}
