
//
// @file
// Kiso (基礎) variables overrides
//
// Every Sass variable and map in the `Framework SASS` source files includes
// the '!default' flag allowing you to override the default value from here
// without modifying the `Framework SASS` source files code.
//
// If a variable has already been assigned, then it won’t be re-assigned by
// the default values comig from the the `Framework SASS` source files.
//
// You will find the complete list of the `Framework SASS` variables and
// maps at the following URL address:
// https://github.com/smillart/Framework-SASS-Source-Files/blob/2.0.x/SASS-REFERENCE.md#variables
//
// To load a module with configuration, write:
//
// @forward <url> with (
//   <variable>: <value>,
//   <variable>: <value>,
// );
//
// Example:
//
// $new-blue: #1e90ff;
// $new-red: #b22222;
// $aqua: #00ffff;
// $fire: #ff0000;
//
// @forward '../../_sass-framework/utilities/color/colors' with (
//   $blue: $new-blue,
//   $red: $new-red,
// );
//
// @forward '../../_sass-framework/utilities/color/schemes' with (
//   $schemes: (
//     'aqua': $aqua,
//     'fire': $fire,
//   ),
// );
//
// The configured values will override the variables’ default values.
//

// Custom variables
//
// Add reusable selector strings within the "CSS selectors" (Helpers) module
$sidebar-one-visible: 'body.one-sidebar';
$block-inside-region: '.block--region';

// Enable the CSS variables
@forward '../../_sass-framework/options/enable/css' with (
  $css-variables: true,
);

// Update the "CSS selectors" map with the custom selector strings
@forward '../../_sass-framework/helpers/css/selectors' with (
  $selectors: (
    // System
    'sidebar-visible': 'body.sidebar',
    'sidebar-not-visible': 'body.no-sidebars',
    'sidebar-one-visible': $sidebar-one-visible,
    'sidebar-both-visible': 'body.two-sidebars',
    'sidebar-navigation-visible': '#{$sidebar-one-visible}.is-visible--navigation',
    'sidebar-complementary-visible': '#{$sidebar-one-visible}.is-visible--complementary',
    // Blocks
    'region-header': '#{$block-inside-region}-header',
    'region-header-collapsible': '#{$block-inside-region}-header-collapsible',
    'region-footer': '#{$block-inside-region}-footer',
  ),
);

// Override "Form" (Elements) module variables
@forward '../../_sass-framework/elements/form/forms' with (
  $form-element-enable-shadows: true,
);
