
//
// @file
// Kiso (基礎) variables overrides
//
// Every Sass variable and map in the `Framework SASS` source files includes
// the '!default' flag allowing you to override the default value from here
// without modifying the `Framework SASS` source files code. Copy and paste
// variables or maps as needed, modify their values, and remove the
// '!default' flag.
//
// If a variable has already been assigned, then it won’t be re-assigned by
// the default values comig from the the `Framework SASS` source files.
//
// You will find the complete list of the `Framework SASS` variables and
// maps in the following files:
// ./THEMENAME/_sass-framework/variables/_options.scss
// ./THEMENAME/_sass-framework/variables/_colors.scss
// ./THEMENAME/_sass-framework/variables/_base.scss
// ./THEMENAME/_sass-framework/variables/_layout.scss
// ./THEMENAME/_sass-framework/variables/_components.scss
// ./THEMENAME/_sass-framework/variables/_selectors.scss
//

// Table of Contents
//
// Color palette
// Fonts
// Body
// System


// Color palette
// ====================================================================================================
// Define overridden and custom colors as consistent color scheme for use across the theme.

// Kiso (基礎) custom color scheme:

$slate: #405b77;

// Kiso (基礎) custom shades of gray.

$gray-100: #f8f9fa;
$gray-700: #495057;

// Kiso overrides and new custom colors to be merged with the "Theme color scheme" map:

$theme-colors: (
  'primary': $slate,
);

// Fonts
// ====================================================================================================
// Font settings.

// Default (Muli/Open Sans) font families.
$font-family-muli:      'Muli', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

// Body
// ====================================================================================================
// Overridden settings for the `<body>` element.

$body-base-color: $gray-700;
$body-base-background-color: $gray-100;
$body-base-font-family: $font-family-open-sans;
$body-base-line-height: 1.8;

// System
// ====================================================================================================
// Define all CSS selectors for "System" (module) components.

$pages:      '.page';
$page-front: 'body#{$pages}--frontpage';
