
//
// @file
// General arrangement for sections layout.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

/// Create local CSS selectors needed to detect the sidebars visibility.
///
/// @type String

$sidebar-visible:               'body.sidebar';
$sidebar-one-visible:           'body.one-sidebar';
$sidebar-both-visible:          'body.two-sidebars';
$sidebar-navigation-visible:    '#{$sidebar-one-visible}.is-visible--navigation';
$sidebar-complementary-visible: '#{$sidebar-one-visible}.is-visible--complementary';

/// Create local variables to manage the column widths.
///
/// @type Number (unitless)

$column-navigation-medium-width:    6;
$column-complementary-medium-width: 6;

$column-content-large-width:        6;
$column-navigation-large-width:     3;
$column-complementary-large-width:  3;

// Page sections
//
.page {

  // All sections
  //
  &__section {

    // Header (Banner) section
    //
    &--header {
      @include flex(justify middle);
    }

    // Main content section
    //
    &--content {

      // Main content section when there is at least one visible sidebar.
      //
      #{$sidebar-visible} & {
        @include make-column-ready;
      }

      // Main content section when sidebars together.
      //
      #{$sidebar-both-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up(large) {
          @include make-column($column-content-large-width);
        }
      }

      // Main content section when there is the Navigation sidebar (Left) only.
      //
      #{$sidebar-navigation-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up(large) {
          @include make-column($column-content-large-width + $column-complementary-large-width);
        }
      }

      // Main content section when there is the Related content sidebar (Right) only.
      //
      #{$sidebar-complementary-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up(large) {
          @include make-column($column-content-large-width + $column-navigation-large-width);
        }
      }
    }

    // Navigation sidebar (Left) section
    //
    &--navigation {
      @include make-column-ready;

      // Responsiveness
      // Properties for at least medium devices (Tablets, 768px and up).
      //
      @include breakpoint-up(medium) {
        @include make-column($column-navigation-medium-width);
      }
      // Properties for at least large devices (Desktops, 992px and up).
      //
      @include breakpoint-up(large) {
        @include make-column($column-navigation-large-width);
        @include make-column-order(-1);
      }
    }

    // Related content sidebar (Right) section
    //
    &--complementary {
      @include make-column-ready;

      // Responsiveness
      // Properties for at least medium devices (Tablets, 768px and up).
      //
      @include breakpoint-up(medium) {
        @include make-column($column-complementary-medium-width);
      }
      // Properties for at least large devices (Desktops, 992px and up).
      //
      @include breakpoint-up(large) {
        @include make-column($column-complementary-large-width);
      }
    }
  }
}
