
//
// @file
// General arrangement for section wrappers.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

// Page wrappers
//
.page {

  // All wrappers
  //
  &__wrapper {

    // Toolbar wrapper
    //
    &--tools {
      padding: {
        @include rem('top', map-get($component-vertical-paddings, 'large'));
        @include rem('bottom', map-get($component-vertical-paddings, 'large'));
      }
    }

    // Header (Banner) wrapper
    //
    &--header {
      @include background(
        $color: theme-color('primary'),
        $image-path: '/themes/contrib/kiso/images/banners',
        $image: 'banner-header',
        $image-extension: 'jpg',
        $image-repeat: repeat,
        $image-size: cover,
        $retina-fallback: false
      );
      padding: {
        @include rem('top', map-get($component-vertical-paddings, 'large'));
        @include rem('bottom', map-get($component-vertical-paddings, 'large'));
      }
    }

    // Featured content wrapper
    //
    &--highlighted {}

    // Content (Main) wrapper
    //
    &--content {
      @include background($color: grayscale('100'));
      padding: {
        @include rem('top', (map-get($component-vertical-paddings, 'large') * 6));
        @include rem('bottom', (map-get($component-vertical-paddings, 'large') * 6));
      }
    }

    // Footnotes wrapper
    //
    &--postscript {}

    // Footer (Contentinfo) wrapper
    //
    &--footer {
      @include background($color: grayscale('300'));
      padding: {
        @include rem('top', (map-get($component-vertical-paddings, 'large') * 6));
        @include rem('bottom', (map-get($component-vertical-paddings, 'large') * 6));
      }
    }
  }
}
