
//
// @file
// General arrangement for sections layout.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

/// Create local variables to manage the column widths.
///
/// @type Number (unitless)

$column-content-large-width:        5;
$column-navigation-large-width:     3;
$column-complementary-large-width:  4;

// Page sections
//
#{$pages} {

  // All sections
  //
  &__section {

    // Content (Main) section
    //
    &--content {

      // Content (Main) section when sidebars together.
      //
      #{$sidebar-both-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up('large') {
          @include make-column($column-content-large-width);
        }
      }

      // Content (Main) section when there is the Navigation sidebar (Left) only.
      //
      #{$sidebar-navigation-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up('large') {
          @include make-column($column-content-large-width + $column-complementary-large-width);
          @include rem('padding-left', 5rem);
        }
      }

      // Content (Main) section when there is the Related content sidebar (Right) only.
      //
      #{$sidebar-complementary-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up('large') {
          @include make-column($column-content-large-width + $column-navigation-large-width);
          @include rem('padding-right', 5rem);
        }
      }
    }

    // Navigation sidebar (Left) section
    //
    &--navigation {

      // Navigation sidebar (Left) section when it is the only one to be visible.
      //
      #{$sidebar-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up('large') {
          @include make-column($column-navigation-large-width);
        }
      }
    }

    // Related content sidebar (Right) section
    //
    &--complementary {

      // Related content sidebar (Right) section when it is the only one to be visible.
      //
      #{$sidebar-visible} & {

        // Responsiveness
        // Properties for at least large devices (Desktops, 992px and up).
        //
        @include breakpoint-up('large') {
          @include make-column($column-complementary-large-width);
        }
      }
    }
  }
}
