
//
// @file
// General arrangement for section wrappers.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

// Page wrappers
//
.page {

  // All wrappers
  //
  &__wrapper {

    // Toolbar wrapper
    //
    &--tools {
      @include background($color: grayscale('400'));
      padding: {
        @include rem('top', 0.75rem);
        @include rem('bottom', 0.75rem);
      }
    }

    // Header (Banner) wrapper
    //
    &--header {
      @include background(
        $color: theme-color('primary'),
        $image-path: '../../images/banners',
        $image: 'banner-header',
        $image-extension: 'jpg',
        $image-repeat: repeat,
        $image-size: cover,
        $retina-fallback: false
      );
      padding: {
        @include rem('top', 2rem);
        @include rem('bottom', 6rem);
      }

      // Header (Banner) wrapper when we are on the (Front) page.
      //
      #{$page-front} & {
        padding: {
          @include rem('top', 4.25rem);
          @include rem('bottom', 4.25rem);
        }
      }
    }

    // Content (Main) wrapper
    //
    &--content {
      @include rem('padding-top', 4rem);
    }

    // Footer (Contentinfo) wrapper
    //
    &--footer {
      @include background($color: grayscale('400'));
      padding: {
        @include rem('top', 3rem);
        @include rem('bottom', 6rem);
      }
    }
  }
}
