{#
/**
 * @file
 * Default Kiso's theme implementation to display the "Back to top" button.
 *
 * @see kiso_preprocess()
 * @see html.html.twig
 * @see page.html.twig
 * 
 * @ingroup themeable
 */
#}
{% set label = backtotop_label ? backtotop_label : 'Back to top'|t %}
{% block backtotop %}
{{ attach_library('kiso/back-to-top') }}
<a href="#top" class="back-to-top" title="{{ label }}">{{ label }}</a>
{% endblock backtotop %}
