
//
// @file
// Styles for creating a wide variety of forms.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

// Form labels
//
label {
  font: {
    @include rem('size', ($body-base-font-size * 0.9));
    weight: map-get($component-font-weights, 'semi-bold');
  }
  text-transform: uppercase;
}

// Fieldsets
//
fieldset {
  @include rem('margin-bottom', map-get($component-margins, 'xlarge'));
}
