
//
// @file
// Media styles for images and lightweight styles.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

// Figures
//
figure {
  @include rem('margin-bottom', map-get($component-margins, 'xxlarge'));
  position: relative;

  // Inner images
  //
  img {
    @include rem('border-radius', map-get($component-border-radiuses, 'medium'));
  }
}

// Figures (Caption)
//
figcaption {
  @include rem('padding', map-get($component-vertical-paddings, 'small') map-get($component-horizontal-paddings, 'small'));
  @include background($color: white);
  @include rem('bottom', -1rem);
  @include rem('left', 1rem);
  position: absolute;
  max-width: 90%;
  border: {
    @include rem('radius', map-get($component-border-radiuses, 'medium'));
    @include rem('width', $component-border-width);
    color: map-get($component-border-colors, 'neutral');
    style: $component-border-style;
  }
  margin-top: 0;
  box-shadow: map-get($component-box-shadows, 'small');
}
