
//
// @file
// Opt-in styles for data tables.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

// Basic tables
//
table {
  @include table-variant('striped',
    $table-striped-background-color: lighten(theme-color('primary'), 60%)
  );
  @include rem('margin-bottom', map-get($component-margins, 'xlarge'));
  @include background($color: white);
  border: {
    @include rem('width', $component-border-width);
    color: map-get($component-border-colors, 'neutral');
    style: $component-border-style;
  }
  box-shadow: map-get($component-box-shadows, 'small');
}

// Table cells
//
th,
td {
  @include rem('padding', (map-get($component-vertical-paddings, 'xlarge') * 2) (map-get($component-horizontal-paddings, 'xlarge') * 2));
  border-top: 0;
}

// Table headers
//
th {
  color: map-get($component-state-colors, 'hover');
}

// Table cells (Headers)
//
thead th {
  border-bottom: 0;
}

// Table bodies (Start from the second)
//
tbody + tbody {
  border-top: 0;
}
