@charset 'utf-8';


/// Layout arrangement
///
/// Page wrappers


/// 'Page wrappers' default properties.
///
/// @group layout
///
/// @example scss - Usage.
///   .page__wrapper {
///     @extend %page-wrappers-defaults;
///   }
///
///   // CSS Output
///   //
///   .page__wrapper {
///     padding: 0.5rem 0.9375rem;
///   }
///
/// @see scss/layout/page/_wrapper.scss
///
/// @requires {mixin} properties
/// @requires {variable} page-wrappers-properties

%page-wrappers-defaults {
  @include properties($page-wrappers-properties);
}


/// 'Toolbar wrapper' default properties.
///
/// @group layout
///
/// @example scss - Usage.
///   .page__wrapper--tools {
///     @extend %page-wrapper-tools-defaults;
///   }
///
///   // CSS Output
///   //
///   .page__wrapper--tools {
///     background-color: #e9ecef;
///   }
///
/// @see scss/layout/page/_wrapper.scss
///
/// @requires {mixin} background
/// @requires {variable} page-wrapper-tools-properties

%page-wrapper-tools-defaults {
  @include background($page-wrapper-tools-properties...);
}


/// 'Header (Banner) wrapper' default properties.
///
/// @group layout
///
/// @example scss - Usage.
///   .page__wrapper--header {
///     @extend %page-wrapper-header-defaults;
///   }
///
///   // CSS Output
///   //
///   .page__wrapper--header {
///     background-color: #405b77;
///     background-image: url(...);
///     background-repeat: repeat;
///     background-position: center center;
///     background-size: cover;
///   }
///
/// @see scss/layout/page/_wrapper.scss
///
/// @requires {mixin} background
/// @requires {variable} page-wrapper-header-properties

%page-wrapper-header-defaults {
  @include background($page-wrapper-header-properties...);
}


/// 'Footnotes wrapper' default properties.
///
/// @group layout
///
/// @example scss - Usage.
///   .page__wrapper--postscript {
///     @extend %page-wrapper-postscript-defaults;
///   }
///
///   // CSS Output
///   //
///   .page__wrapper--postscript {
///     background-color: #dee2e6;
///   }
///
/// @see scss/layout/page/_wrapper.scss
///
/// @requires {mixin} background
/// @requires {variable} page-wrapper-postscript-properties

%page-wrapper-postscript-defaults {
  @include background($page-wrapper-postscript-properties...);
}


/// 'Footer (Contentinfo) wrapper' default properties.
///
/// @group layout
///
/// @example scss - Usage.
///   .page__wrapper--footer {
///     @extend %page-wrapper-footer-defaults;
///   }
///
///   // CSS Output
///   //
///   .page__wrapper--footer {
///     background-color: #405b77;
///   }
///
/// @see scss/layout/page/_wrapper.scss
///
/// @requires {mixin} background
/// @requires {variable} page-wrapper-footer-properties

%page-wrapper-footer-defaults {
  @include background($page-wrapper-footer-properties...);
}


/// Layout arrangement
///
/// Page sections


/// 'Header (Banner) section' default properties.
///
/// @group layout
///
/// @example scss - Usage.
///   .page__section--header {
///     @extend %page-section-header-defaults;
///   }
///
///   // CSS Output
///   //
///   .page__section--header {
///     position: relative;
///     display: flex;
///     flex-wrap: wrap;
///     align-items: center;
///     justify-content: space-between;
///   }
///
/// @see scss/layout/page/_section.scss
///
/// @requires {mixin} properties
/// @requires {variable} page-section-header-properties
///
/// 1. Allowing line break for collapsing content.

%page-section-header-defaults {
  @include properties($page-section-header-properties);
  position: relative;
  display: flex;
  flex-wrap: wrap; // 1
}
