
//
// @file
// Default root styles to provide better page-wide.
//

// Import Sass variables, functions, mixins and placeholders.
@import '../../config/imports';

// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//
// This file is compiled separately so we can pull in config dependencies
// above while also maintaining Drupal's SMACSS structure.

// Page body
//
body {
  // As a best practice, apply a default `background-color`.
  @include background($color: $body-base-background-color);
  // Go easy on the eyes and use something other than "#000" for text.
  color: $body-base-color;
  font: {
    @include rem('size', $body-base-font-size);
    family: $body-base-font-family;
    weight: $body-base-font-weight;
  }
  line-height: $body-base-line-height;
}
