
///
/// @file
/// Base rule variables
///
/// Font, line-height, padding, margin, color and more... for HTML elements.
///
/// General variable structure:
/// Variable format should follow the `$component-modifier-state-property` order.
///


/// Table of Contents
///
/// Fonts
/// Body
/// Headings
/// Media
/// Tables


/// Fonts
/// ====================================================================================================
/// Font settings.


/// Default (Sans-serif/Monospace) font family.
///
/// @type List

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
// Define below all your font families which will be used for the text body through all pages.
// $font-family-roboto: "Roboto", sans-serif !default;


/// Body
/// ====================================================================================================
/// Settings for the `<body>` element.


/// The base text color applied on the document body.
///
/// @type Color
///
/// @see scss/base/_root.scss

$body-base-color: $gray-700 !default;


/// The base background color applied on the document body.
///
/// @type Color
///
/// @see scss/base/_root.scss

$body-base-background-color: white !default;


/// The base font family applied on the document body.
///
/// @type List
///
/// @see scss/base/_root.scss

$body-base-font-family: $font-family-sans-serif !default;


/// The base font size applied on the document body.
/// Assumes the browser default, typically `16px`.
///
/// @type Number
///
/// @see scss/base/_root.scss

$body-base-font-size: 1rem !default;


/// The base font weight applied on the document body.
///
/// @type Number
///
/// @see scss/base/_root.scss

$body-base-font-weight: 400 !default;


/// The base text line height applied on the document body.
///
/// @type Number
///
/// @see scss/base/_root.scss

$body-base-line-height: 1.5 !default;


/// Headings
/// ====================================================================================================
/// Settings for the `<h1>`-`<h6>` elements.


/// The default font sizes applied on each heading type.
///
/// @type Number
///
/// @see scss/base/_typography.scss

$heading-1-font-size: ($body-base-font-size * 2.5) !default;
$heading-2-font-size: ($body-base-font-size * 2) !default;
$heading-3-font-size: ($body-base-font-size * 1.75) !default;
$heading-4-font-size: ($body-base-font-size * 1.5) !default;
$heading-5-font-size: ($body-base-font-size * 1.25) !default;
$heading-6-font-size: $body-base-font-size !default;


/// Media
/// ====================================================================================================
/// Media global settings.


/// The default path to the image folder.
///
/// @type String
///
/// @see {mixin} background

$image-folder-path: '../../images' !default;


/// The default file extension for images.
///
/// @type String
///
/// @see {mixin} background

$image-fallback-extension: 'png' !default;


/// The retina display media query string.
///
/// @type String
///
/// @see {mixin} background

$image-retina-media-query: 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)';


/// The default suffix for images with retina fallback.
///
/// @type String
///
/// @see {mixin} background

$image-retina-suffix: '@2x';
