//
// @file
// "Openfed FederalHeader" component.
//

// Import Sass variables, functions, mixins and placeholders.
@import "../config/imports";


#openfed-federal-header-wrapper {
  overflow:hidden;

  #openfed-federal-header-link {
    display:none;

    @include breakpoint-up(small) {
      display:inline-block;
    }
  }
  #openfed-federal-header-logo {
    width:23px;
    height:16px;

    @include breakpoint-up(small) {
      display:inline-block;
    }

    img {
      display:block;
      width:auto;
      height:16px;
      margin:0;
    }
  }
}