//
// @file
// "Back to top" component.
//

// Import Sass variables, functions, mixins and placeholders.
@import "../config/imports";

// "Back to top" link
a.back-to-top {
  display:inline-block;
  font: {
    size:0.8rem;
    weight:bold;
  }
  line: {
    height:1.2;
  }
  color:white;
  text: {
    align:center;
    decoration:none;
  }
  padding:1rem 2rem;
  position:fixed;
  right:1rem;
  bottom:1rem;
  outline:currentcolor none medium;
  background:$slate;
  box-shadow:lighten($slate,50%) 0px 10px 20px;
  border: {
    radius:2rem;
  }
  opacity:0;
  transform:scale(0,0);
  transition:opacity .2s ease-in-out, transform .2s ease-in-out, bottom .2s ease-in-out;

  &:hover,
  &:focus {
    bottom:1.2rem;
    background:lighten($slate,10%);
    box-shadow:lighten($slate,40%) 0px 10px 20px;
    transition:bottom .2s ease-in-out, box-shadow .2s ease-in-out;
  }

  .back-to-top-visible & {
    opacity:1;
    transform:scale(1,1);
  }
}