
//
// @file
// Reboot definition.
//
// A collection of element-specific CSS changes in a single file, 
// best practices kickstart to provide an elegant, consistent, and
// simple baseline to build upon.
//

// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es

// Document root
//
// 1. Change the default font family in all browsers.
// 2. Change from `box-sizing: content-box` so that `width` is not affected
//    by `padding` or `border`.
// 3. Setting @viewport causes scrollbars to overlap content in IE11 and Edge,
//    so we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 4. Change the default tap highlight to be completely transparent in iOS.
//
html {
  font-family: sans-serif; // 1
  box-sizing: border-box; // 2
  -ms-overflow-style: scrollbar; // 3
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 4
}

// All elements
//
* {
  box-sizing: inherit; // 1
  
  // Pseudo-elements
  //
  &::before,
  &::after {
    box-sizing: inherit; // 1
  }
}

// Make viewport responsive
//
// IE10+ doesn't honor `<meta name="viewport">` in some cases.
//
@at-root {
  @-ms-viewport { width: device-width; }
}

// HTML5 elements
//
// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers).
//
dialog,
hgroup {
  display: block;
}

// Body
//
// 3. Set an explicit initial text-align value so that we can later use the
//    the `inherit` value on things like `<th>` elements.
//
body {
  text-align: left; // 3
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
//
[tabindex="-1"]:focus {
  outline: 0 none !important;
}

// Horizontal rules
//
// 1. Reset the border value so that we can later use the
//    `border-top` value only.
//
hr {
  border: 0; // 1
}

// Headings
//
// 1. By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.
//
h1, h2, h3, h4, h5, h6 {
  margin-top: 0; // 1
}

// Paragraphs
//
// 1. Similarly, the top margin on `<p>`s get reset.
p {
  margin-top: 0; // 1
}

// Links
//
// 1. Remove gaps in links underline in iOS 8+ and Safari 8+.
//
a {
  -webkit-text-decoration-skip: objects; // 1

  // Placeholder links/named anchors (without href)
  //
  // And undo default styles for placeholder links/named anchors which have not been
  // made explicitly keyboard-focusable (without tabindex). It would be more straightforward
  // to just use a[href] in default declarations, but that causes specificity issues in many
  // other styles that are too complex to fix.
  //
  // See https://github.com/twbs/bootstrap/issues/19402
  //
  &:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    // Links (Hover and focus states)
    //
    &:hover,
    &:focus {
      color: inherit;
      background-color: inherit;
      text-decoration: none;
      outline: 0;
    }
  }
}

// Abbreviations
//
abbr {

  // 1. Duplicate behavior to the data-* attribute of the tooltip plugin.
  // 2. Add explicit cursor to indicate changed behavior.
  //
  &[title],
  &[data-original-title] { // 1
    cursor: help; // 2
  }
}

// Acronyms
//
acronym[title] {
  @extend abbr[title];
  text-transform: uppercase;
}

// Addresses
//
address {
  font-style: normal;
  line-height: inherit;
}

// Lists
//
// 1. All <ul>, <ol>, and <dl> lists have their top margin reseted.
//
ul, ol, dl {
  margin-top: 0; // 1
}

// Blockquotes
//
// 1. The default margin on blockquotes is 1em 40px, so we reset that to 0
//    for easier control within type scales as it avoids margin collapsing.
// 2. Back to default font-size.
//
blockquote {
  margin: 0; // 1

  // Inner footer (Source identification)
  //
  footer {
    display: block;
    font-size: 80%; // 2
  }
}

// Images
//
// 1. It seems strange to me that "<img>´s", being responsive and mobile-first,
//    requires an additional class to behave responsively. It is why "<img>´s"
//    are deliberately made responsive by default setting a maximum width relative
//    to the parent. Note: You must manually use the "%image-unresponsive-defaults"
//    placeholder to images to disable responsive behavior.
// 2. Override the height to auto, otherwise images will be stretched
//    when setting a width and height attribute on the '<img>' element.
//
img {
  max-width: 100%; // 1
  height: auto; // 2
}

// Figures
//
// 1. Ensures the caption's text aligns with the image.
// 2. Apply a consistent margin strategy (matches our type styles).
//
figure {
  display: inline-block; // 1
  margin: 0; // 2

  // Inner images
  //
  img {
    line-height: 1;
  }
}

// Inline code
//
// 1. Streamline the style when inside anchors to avoid broken underline and more.
//
code {

  // Inline code inside anchors (Immediate children).
  //
  a > & {
    color: inherit; // 1
    background-color: inherit; // 1
    padding: 0; // 1
  }
}

// Code blocks
//
// 1. We have @viewport set which causes scrollbars to overlap content in IE11 and
//    Edge, so we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 2. Remove browser default top margin.
// 3. Don't allow content to break outside.
// 4. Account for some code outputs that place code tags in pre tags.
//
pre {
  -ms-overflow-style: scrollbar; // 1
  margin-top: 0; // 2
  overflow: auto; // 3

  // Inner inline code
  //
  code {
    color: inherit; // 4
    background-color: transparent; // 4
    border-radius: 0; // 4
    padding: 0; // 4
    font-size: inherit; // 4
  }
}

// Keyboard code
//
// 1. Streamline when nested to avoid broken styles.
//
kbd {

  // Nested code (Keyboard)
  //
  kbd {
    padding: 0; // 1
    font-size: 100%; // 1
    box-shadow: none; // 1
  }
}

// Tables
//
// 1. Prevent double borders
//
table {
  box-sizing: content-box;
  border-collapse: collapse; // 1
  width: 100%;
  max-width: 100%;
}

// Table captions and cells (Headers)
//
// 1. Matches default `<td>` alignment by inheriting from the `<body>`,
//    or the closest parent with a set `text-align`.
//
th,
caption {
  text-align: inherit; // 1
}

// Table cells
//
// 1. Forces default `<th>` and `<td>` alignment to top.
//
th,
td {
  vertical-align: top; // 1
}

// Table cells (Headers)
//
// 1. Forces default `<th>` (inside table heads) alignment to bottom.
//
thead th {
  vertical-align: bottom; // 1
}

// Forms elements
//
// 1. Inherit the font styles in all browsers (opinionated).
//
input,
button,
select,
optgroup,
textarea {
  font: {
    family: inherit; // 1
    size: inherit; // 1
  }
  line-height: inherit; // 1
}

// Form labels
//
// 1. Allow labels to use left spacing by setting 'inline' (block) display.
//
label {
  display: inline-block; // 1
}

// Form buttons
//
// 1. Remove the default `border-radius` that macOS Chrome adds.
//    See: https://github.com/twbs/bootstrap/issues/24093
// 2. Work around a Firefox/IE bug where the transparent `button` background
//    results in a loss of the default `button` focus styles.
//    See: https://github.com/suitcss/base/
//
button {
  border-radius: 0; // 1

  // Form buttons (Focus state)
  //
  &:focus {
    outline: 1px dotted; // 2
    outline: 5px auto -webkit-focus-ring-color; // 2
  }
}

// Inputs
//
// 1. Remove the default appearance of temporal inputs to avoid a Mobile Safari
//    bug where setting a custom line-height prevents text from being vertically
//    centered within the input.
//    See: https://bugs.webkit.org/show_bug.cgi?id=139848
//         https://github.com/twbs/bootstrap/issues/11266
//
input {

  // Inputs (Temporal)
  //
  &[type="date"],
  &[type="time"],
  &[type="datetime-local"],
  &[type="month"] {
    -webkit-appearance: listbox; // 1
  }
}

// Textareas
//
// 1. Should really only resize vertically so they don't break their
//    (horizontal) containers.
//
textarea {
  resize: vertical; // 1
}

// Fieldsets
//
// 1. Reset the default outline behavior of fieldsets so they don't affect page layout.
// 2. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
//    See: https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
//
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
  min-width: 0; // 2
}

// Fieldset legends
//
// 1. Correct the text wrapping in Edge and IE.
//
legend {
  display: block; // 1
  width: 100%; // 1
  line-height: inherit;
}
