
//
// @file
// Opt-in styles for data tables.
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

// Basic tables
//
table {
  @include rem('margin-bottom', map-get($component-margins, 'medium'));
  @include background($color: transparent);
  @include table-variant('hover');

  // Nested tables
  //
  table {
    @include background($color: $body-base-background-color);
  }
}

// Table cells
//
th,
td {
  @include rem('padding', map-get($component-horizontal-paddings, 'medium'));
  border-top: {
    @include rem('width', $component-border-width);
    color: map-get($component-border-colors, 'light');
    style: $component-border-style;
  }
}

// Table captions
//
caption {
  padding: {
    @include rem('top', map-get($component-vertical-paddings, 'large'));
    @include rem('bottom', map-get($component-vertical-paddings, 'large'));
  }
  color: map-get($component-state-colors, 'muted');
  caption-side: bottom;
}

// Table cells (Headers)
//
thead th {
  @include background($color: map-get($component-state-background-colors, 'active'));
  border-bottom: {
    @include rem('width', ($component-border-width * 2));
    color: map-get($component-state-colors, 'active');
    style: $component-border-style;
  }
  color: $body-base-background-color;
}

// Table bodies (Start from the second)
//
tbody + tbody {
  border-top: {
    @include rem('width', ($component-border-width * 2));
    color: map-get($component-border-colors, 'light');
    style: $component-border-style;
  }
}
