@charset 'utf-8';


/// Content to screen readers default properties.
///
/// @group helpers
///
/// @example scss - Usage.
///   .foo {
///     @extend %screen-reader-only-defaults;
///   }
///
///   // CSS Output
///   //
///   .foo {
///     position: absolute !important;
///     clip: rect(1px, 1px, 1px, 1px) !important;
///     clip-path: inset(50%) !important;
///     overflow: hidden !important;
///     height: 1px !important;
///     width: 1px !important;
///     padding: 0 !important;
///     border: 0 !important;
///     white-space: nowrap !important;
///   }
///
/// @requires {mixin} visually-hidden

%screen-reader-only-defaults {
  @include visually-hidden($extend: false);
}


/// Focused content default properties.
///
/// @group helpers
///
/// @example scss - Usage.
///   .bar {
///     @extend %screen-reader-only-defaults;
///     @extend %screen-reader-only-focusable-defaults;
///   }
///
///   // CSS Output
///   //
///   .bar {
///     position: absolute !important;
///     clip: rect(1px, 1px, 1px, 1px) !important;
///     clip-path: inset(50%) !important;
///     overflow: hidden !important;
///     height: 1px !important;
///     width: 1px !important;
///     padding: 0 !important;
///     border: 0 !important;
///     white-space: nowrap !important;
///   }
///   .bar:focus,
///   .bar:active {
///     clip: auto !important;
///     clip-path: none !important;
///     overflow: visible !important;
///     width: auto !important;
///     height: auto !important;
///     white-space: normal !important;
///   }
///
/// @requires {mixin} focusable

%screen-reader-only-focusable-defaults {
  @include focusable($extend: false);
}
