
//
// @file
// Site identity (Logo image, name and slogan of the site).
//
// This document follows Drupal CSS coding standards, Sass Guidelines
// and Sass Style Guide. Read more about these topics:
//
// @see https://www.drupal.org/docs/develop/standards/css/
// @see https://css-tricks.com/sass-style-guide/
// @see https://sass-guidelin.es
//

// Branding block
//
.block {

  // Branding block when embedded inside the Header (Banner) region.
  //
  #{$region-header} & {
    
    // Branding
    //
    &__branding {
      @include rem('margin-right', map-get($component-margins, 'medium'));
      @include rem('font-size', ($body-base-font-size * 1.25));
      padding: {
        @include rem('top', map-get($component-vertical-paddings, 'medium'));
        @include rem('bottom', map-get($component-vertical-paddings, 'medium'));
      }
      display: inline-block;
      color: $body-base-background-color;
      text-decoration: none;
      line-height: inherit;
      white-space: nowrap;

      // Branding (Hover & Focus states)
      //
      &:hover,
      &:focus {
        color: $body-base-background-color;
        background-color: transparent;
      }
    }

    // Site logo
    //
    &__site-logo {
      @include rem('margin-right', map-get($component-margins, 'medium'));
      display: inline-block;
    }
  }
}
